<p class="text-center md:my-4 text-[#6C737F] social-icons__header py-2">
  Or Continue with
</p>
<div class="social-icons-container">
  <ul
    class="social-icons flex flex-col justify-center items-center gap-y-4 py-5"
  >
    <li class="social-icon__style">
      <img src="images/Logo Google.png" class="md:w-[40%]" alt="" />
    </li>
    <li class="social-icon__style">
      <img src=" images/Logo Facebook.png" class="md:w-[40%]" alt="" />
    </li>
    <li class="social-icon__style">
      <img src="images/Logo Twitter.png" class="md:w-[40%]" alt="" />
    </li>
    <li class="social-icon__style">
      <img src="images/Logo Apple.png" class="md:w-[40%]" alt="" />
    </li>
  </ul>
</div>
