<p class="text-center my-4 text-[#6C737F] social-icons__header py-2">
  Or Continue with
</p>
<ul class="social-icons flex justify-center items-center gap-x-6 py-5">
  <li class="social-icon__style">
    <img src="images/Logo Google.png" class="w-[40%]" alt="" />
  </li>
  <li class="social-icon__style">
    <img src=" images/Logo Facebook.png" class="w-[40%]" alt="" />
  </li>
  <li class="social-icon__style">
    <img src="images/Logo Twitter.png" class="w-[40%]" alt="" />
  </li>
  <li class="social-icon__style">
    <img src="images/Logo Apple.png" class="w-[40%]" alt="" />
  </li>
</ul>
