<div class="w-full mx-auto font-inter">
  <h2 class="text-xl font-bold mb-8">Sign up</h2>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="mb-7">
      @let firstNameControl = registerForm.get("firstName");
      <app-custom-input
        formControlName="firstName"
        [id]="'first_name'"
        [name]="'first_name'"
        [placeholder]="'First Name'"
        [type]="'text'"
        [inputControl]="firstNameControl"
      ></app-custom-input>
    </div>
    <div class="mb-7">
      @let lastNameControl = registerForm.get("lastName");
      <app-custom-input
        formControlName="lastName"
        [id]="'last_name'"
        [name]="'last_name'"
        [placeholder]="'Last Name'"
        [type]="'text'"
        [inputControl]="lastNameControl"
      ></app-custom-input>
    </div>
    <div class="mb-7">
      @let emailControl = registerForm.get("email");
      <app-custom-input
        formControlName="email"
        [id]="'userEmail'"
        [name]="'userEmail'"
        [placeholder]="'Enter Email'"
        [type]="'email'"
        [inputControl]="emailControl"
      ></app-custom-input>
    </div>
    <div class="relative mb-7">
      @let passwordControl = registerForm.get("password");
      <app-custom-input
        formControlName="password"
        [id]="'userPassword'"
        [name]="'userPassword'"
        [placeholder]="'password'"
        [type]="togglePasswordInput ? 'password' : 'text'"
        [inputControl]="passwordControl"
      ></app-custom-input>
      <span
        class="absolute bottom-0 top-0 right-0 flex items-center pr-3 cursor-pointer"
        (click)="togglePassword()"
      >
        @if(togglePasswordInput) {<i class="fa-regular fa-eye text-gray-500"></i
        >}@else{
        <i class="fa-regular fa-eye-slash text-gray-500"></i>
        }
      </span>
    </div>
    <div class="relative mb-4">
      @let rePasswordControl = registerForm.get("rePassword");

      <app-custom-input
        [inputClass]="
          rePasswordControl?.errors &&
          (rePasswordControl?.touched || registerForm.getError('misMatch'))
            ? 'border-red-500'
            : 'border-gray-300'
        "
        formControlName="rePassword"
        [id]="'rePassword'"
        [name]="'rePassword'"
        [placeholder]="'Confirm password'"
        [type]="toggleRePasswordInput ? 'password' : 'text'"
        [inputControl]="rePasswordControl"
      ></app-custom-input>
      <span
        class="absolute bottom-0 top-0 right-0 flex items-center pr-3 cursor-pointer"
        (click)="toggleRePassword()"
      >
        @if(toggleRePasswordInput) {<i
          class="fa-regular fa-eye text-gray-500"
        ></i
        >}@else{
        <i class="fa-regular fa-eye-slash text-gray-500"></i>
        }
      </span>
    </div>
    <button class="block mx-auto py-1 mb-9">
      Already have an account?
      <a [routerLink]="['/auth/login']" class="text-main font-poppins">
        Login</a
      >
    </button>
    <button class="auth-main-btn">Create Account</button>
  </form>

  <app-social-icons></app-social-icons>
</div>
