<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
  (click)="onBackdropClick($event)"
>
  <div
    class="bg-white rounded-[20px] w-full max-w-2xl mx-4 p-4"
    (click)="$event.stopPropagation()"
  >
    @if(examstart){
    <div class="flex justify-between items-center p-4">
      <h3 class="text-xl font-medium">Instructions</h3>
    </div>
    <div class="p-4">
      <ul class="text-left space-y-3 mb-4 px-4">
        <li class="flex items-start">
          <span class="mr-2">•</span>
          <span>Lorem ipsum dolor sit amet consectetur.</span>
        </li>
        <li class="flex items-start">
          <span class="mr-2">•</span>
          <span>Lorem ipsum dolor sit amet consectetur.</span>
        </li>
        <li class="flex items-start">
          <span class="mr-2">•</span>
          <span>Lorem ipsum dolor sit amet consectetur.</span>
        </li>
        <li class="flex items-start">
          <span class="mr-2">•</span>
          <span>Lorem ipsum dolor sit amet consectetur.</span>
        </li>
      </ul>
    </div>
    <div class="p-4">
      <button
        (click)="onStart.emit()"
        class="bg-main text-white px-6 py-[10px] rounded-full hover:bg-blue-700 w-full"
      >
        Start
      </button>
    </div>
    }@else{
    <div class="mb-8">
      <div class="flex justify-between items-center mb-7">
        <!-- Dynamic question counter -->
        <p class="text-main">
          Question {{ currentQuestion() }} of {{ questionsList().length }}
        </p>
        <div class="flex items-center gap-x-2">
          <img src="/images/clockImage.png" alt="" />
          <span class="text-[#11CE19]"
            >{{ questionsList()[currentQuestion() - 1].exam.duration }}:00</span
          >
        </div>
      </div>

      <!-- Progress dots -->
      <div class="flex gap-[6px] justify-between">
        @for (dot of questionsList(); track $index) {
        <div
          class="w-2 h-2 rounded-full transition-colors duration-200"
          [class.bg-main]="$index < currentQuestion()"
          [class.main]="$index === currentQuestion() - 1"
          [class.bg-[#D9D9D9]]="$index >= currentQuestion()"
        ></div>
        }
      </div>
    </div>

    <div class="mb-12">
      @if (questionsList()[currentQuestion() - 1]) {
      <div class="mb-6">
        <h4>{{ questionsList()[currentQuestion() - 1].question }}</h4>
      </div>

      <!-- Answers -->
      <div class="space-y-3">
        @for (answer of questionsList()[currentQuestion() - 1].answers; track
        answer.key) {
        <div
          class="flex items-center p-4 border border-gray-200 rounded-lg cursor-pointer transition-all duration-200"
          [class.bg-[#EDEFF3]]="!isOptionSelected(answer.key)"
          [class.bg-[#CCD7EB]]="isOptionSelected(answer.key)"
          (click)="selectOption(answer.key)"
        >
          <input
            type="radio"
            [id]="'option' + answer.key"
            name="quizOption"
            class="w-5 h-5 text-blue-600 border-gray-300 focus:ring-blue-500"
            [checked]="selectedOption === answer.key"
          />
          <label [for]="'option' + answer.key" class="ml-3 text-gray-700">
            {{ answer.answer }}
          </label>
        </div>
        }
      </div>
      }
    </div>

    <div class="form__buttons flex gap-x-12">
      <button
        class="w-1/2 px-6 py-2 border border-main rounded-full text-main"
        (click)="prevQuestion()"
        [disabled]="currentQuestion() === 1"
      >
        Back
      </button>
      <button
        class="w-1/2 px-6 py-2 bg-[#1D1B201F] rounded-full bg-main text-white"
        [class.opacity-50]="!selectedOption"
        [class.cursor-not-allowed]="!selectedOption"
        (click)="nextQuestion()"
        [disabled]="!selectedOption"
      >
        {{ currentQuestion() === questionsList().length ? "Finish" : "Next" }}
      </button>
    </div>
    }
  </div>
</div>
