:host {
  background-color: #fbf9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @media (min-width: 640px) {
    flex-direction: row;
  }
  // @screen md {
  //   flex-direction: row;
  // }
}

.sidebar__item {
  display: flex;
  gap: 2.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  width: fit-content;
}
