<div class="w-full mx-auto font-inter">
  <h2 class="text-xl font-bold mb-8">Forgot your password?</h2>
  <form>
    <div class="mb-4">
      <app-custom-input
        [id]="'userEmail'"
        [name]="'userEmail'"
        [placeholder]="'Enter Email'"
        [type]="'email'"
      ></app-custom-input>
    </div>

    <button class="block ms-auto">
      <a
        [routerLink]="['/auth/forget-password']"
        class="text-main py-1 block mb-10 font-poppins"
        >Recover Password ?</a
      >
    </button>

    <button [routerLink]="['/auth/verify-code']" class="auth-main-btn">
      Send Email
    </button>
  </form>
  <app-social-icons></app-social-icons>
</div>
