<div class="w-full mx-auto font-inter">
  <h2 class="text-xl font-bold mb-8">Set a Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="setNewPassword()">
    <div class="relative mb-8">
      @let passwordControl = resetPasswordForm.get("password");
      <app-custom-input
        formControlName="password"
        [id]="'password'"
        [name]="'password'"
        [placeholder]="'create Password'"
        [type]="togglePasswordInput ? 'password' : 'text'"
        [inputControl]="passwordControl"
      ></app-custom-input>
      <span
        class="absolute bottom-0 top-0 right-0 flex items-center pr-3 cursor-pointer"
        (click)="togglePassword()"
      >
        @if(togglePasswordInput) {<i class="fa-regular fa-eye text-gray-500"></i
        >}@else{
        <i class="fa-regular fa-eye-slash text-gray-500"></i>
        }
      </span>
    </div>
    <div class="relative mb-8">
      @let newPasswordControl = resetPasswordForm.get("newPassword");
      <app-custom-input
        [inputClass]="
          newPasswordControl?.errors &&
          (newPasswordControl?.touched ||
            resetPasswordForm.getError('misMatch'))
            ? 'border-red-500'
            : 'border-gray-300'
        "
        formControlName="newPassword"
        [id]="'rePassword'"
        [name]="'rePassword'"
        [placeholder]="'Re-enter Password'"
        [type]="toggleRePasswordInput ? 'password' : 'text'"
        [inputControl]="newPasswordControl"
      ></app-custom-input>
      <span
        class="absolute bottom-0 top-0 right-0 flex items-center pr-3 cursor-pointer"
        (click)="toggleRePassword()"
      >
        @if(toggleRePasswordInput) {<i
          class="fa-regular fa-eye text-gray-500"
        ></i
        >}@else{
        <i class="fa-regular fa-eye-slash text-gray-500"></i>
        }
      </span>
    </div>

    <app-custom-btn
      [disabled]="resetPasswordForm.invalid || isLoading"
      [isLoading]="isLoading"
    >
      @if(isLoading) {
      <span class="flex items-center justify-center">
        <svg
          class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        Processing...
      </span>
      } @else { Sign in }
    </app-custom-btn>
  </form>

  <app-social-icons></app-social-icons>
</div>
