<div class="w-full mx-auto font-inter">
  <h2 class="text-xl font-bold mb-8">Set a Password</h2>
  <form>
    <div class="relative mb-8">
      <app-custom-input
        [id]="'userPassword'"
        [name]="'userPassword'"
        [placeholder]="'Creat Password'"
        [type]="'password'"
      ></app-custom-input>
      <div
        class="absolute bottom-0 top-0 right-0 flex items-center pr-3 cursor-pointer"
      >
        <i class="fa-regular fa-eye text-gray-500"></i>
      </div>
    </div>
    <div class="relative mb-4">
      <app-custom-input
        [id]="'rePassword'"
        [name]="'rePassword'"
        [placeholder]="'Re-enter Password'"
        [type]="'password'"
      ></app-custom-input>
      <div
        class="absolute bottom-0 top-0 right-0 flex items-center pr-3 cursor-pointer"
      >
        <i class="fa-regular fa-eye text-gray-500"></i>
      </div>
    </div>

    <button class="auth-main-btn">Sign in</button>
  </form>

  <app-social-icons></app-social-icons>
</div>
