<div class="w-full mx-auto font-inter">
  <h2 class="text-xl font-bold mb-8">Set a Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="setNewPassword()">
    <div class="relative mb-8">
      @let emailControl = resetPasswordForm.get("email");
      <app-custom-input
        formControlName="email"
        [id]="'userEmail'"
        [name]="'userEmail'"
        [placeholder]="'Enter your email address'"
        [type]="'email'"
        [inputControl]="emailControl"
      ></app-custom-input>
      <div
        class="absolute bottom-0 top-0 right-0 flex items-center pr-3 cursor-pointer"
      >
        <i class="fa-regular fa-eye text-gray-500"></i>
      </div>
    </div>
    <div class="relative mb-4">
      @let newPasswordControl = resetPasswordForm.get("newPassword");
      <app-custom-input
        formControlName="newPassword"
        [id]="'rePassword'"
        [name]="'rePassword'"
        [placeholder]="'Re-enter Password'"
        [type]="'password'"
        [inputControl]="newPasswordControl"
      ></app-custom-input>
      <div
        class="absolute bottom-0 top-0 right-0 flex items-center pr-3 cursor-pointer"
      >
        <i class="fa-regular fa-eye text-gray-500"></i>
      </div>
    </div>

    <button class="auth-main-btn">Sign in</button>
  </form>

  <app-social-icons></app-social-icons>
</div>
